<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>头条</string>
		<key>type</key>
		<string>T1348647853363</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>type</key>
		<string>T1348648517839</string>
	</dict>
	<dict>
		<key>name</key>
		<string>体育</string>
		<key>type</key>
		<string>T1348649079062</string>
	</dict>
	<dict>
		<key>name</key>
		<string>财经</string>
		<key>type</key>
		<string>T1348648756099</string>
	</dict>
	<dict>
		<key>name</key>
		<string>公开课</string>
		<key>type</key>
		<string>T1421997195219</string>
	</dict>
	<dict>
		<key>name</key>
		<string>轻松</string>
		<key>type</key>
		<string>T1350383429665</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>type</key>
		<string>T1348654151579</string>
	</dict>
	<dict>
		<key>name</key>
		<string>社会</string>
		<key>type</key>
		<string>T1348648037603</string>
	</dict>
	<dict>
		<key>name</key>
		<string>读书</string>
		<key>type</key>
		<string>T1401272877187</string>
	</dict>
	<dict>
		<key>name</key>
		<string>原创</string>
		<key>type</key>
		<string>T1370583240249</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NBA</string>
		<key>type</key>
		<string>T1348649145984</string>
	</dict>
	<dict>
		<key>name</key>
		<string>画报</string>
		<key>type</key>
		<string>T1422935072191</string>
	</dict>
	<dict>
		<key>name</key>
		<string>历史</string>
		<key>type</key>
		<string>T1368497029546</string>
	</dict>
	<dict>
		<key>name</key>
		<string>军事</string>
		<key>type</key>
		<string>T1348648141035</string>
	</dict>
	<dict>
		<key>name</key>
		<string>影视</string>
		<key>type</key>
		<string>T1348648650048</string>
	</dict>
	<dict>
		<key>name</key>
		<string>国足</string>
		<key>type</key>
		<string>T1348649503389</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CBA</string>
		<key>type</key>
		<string>T1348649475931</string>
	</dict>
	<dict>
		<key>name</key>
		<string>跑步</string>
		<key>type</key>
		<string>T1411113472760</string>
	</dict>
</array>
</plist>
