<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>手机</string>
		<key>type</key>
		<string>T1348649654285</string>
	</dict>
	<dict>
		<key>name</key>
		<string>数码</string>
		<key>type</key>
		<string>T1348649776727</string>
	</dict>
	<dict>
		<key>name</key>
		<string>互联</string>
		<key>type</key>
		<string>T1351233117091</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车</string>
		<key>type</key>
		<string>T1348654060988</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家居</string>
		<key>type</key>
		<string>T1348654105308</string>
	</dict>
	<dict>
		<key>name</key>
		<string>旅游</string>
		<key>type</key>
		<string>T1348654204705</string>
	</dict>
	<dict>
		<key>name</key>
		<string>健康</string>
		<key>type</key>
		<string>T1414389941036</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教育</string>
		<key>type</key>
		<string>T1348654225495</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时尚</string>
		<key>type</key>
		<string>T1348650593803</string>
	</dict>
	<dict>
		<key>name</key>
		<string>情感</string>
		<key>type</key>
		<string>T1348650839000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>政务</string>
		<key>type</key>
		<string>T1414142214384</string>
	</dict>
	<dict>
		<key>name</key>
		<string>博客</string>
		<key>type</key>
		<string>T1419386532423</string>
	</dict>
	<dict>
		<key>name</key>
		<string>论坛</string>
		<key>type</key>
		<string>T1419386592923</string>
	</dict>
</array>
</plist>
